---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro'
import LinkedinIcon from '../components/icons/Linkedin.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro'
import Projects from '../components/Projects.astro';
import Profile from '@/components/icons/Profile.astro';
import AboutMe from "@/components/AboutMe.astro"
import WorkWithMe from '@/components/WorkWithMe.astro';
import ThreeJSBadge from '@/components/ThreeJSBadge.astro';
---

<Layout 
	title="Porfolio de Juan Cruz Martinez - Desarrollador y Programador WEB"
	description="Pagina principal del porfolio de Juan Cruz Martinez - Desarrollador Web Full-Stack"	
>
	<main class="px-2 tracking-tight">
		<SectionContainer class="py-32 pb-24">
			<img
				class="rounded-full size-14 mb-4" 
				src="/photo.webp" 
				alt="juancruz photo" 
			/>
			<h1 class="text-white text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				<span class="text-sky-400 whitespace-nowrap">Juan Cruz</span> Martínez.
				<a 
					href="https://www.linkedin.com/in/martinezjc93/" 
					target="_blank" 
					rel="noopener" 
					class="flex justify-center items-center"
				>
					<ThreeJSBadge>Trabajando</ThreeJSBadge>
				</a>
			</h1>
				
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+4 años de experiencia.</span> 
				<span class="text-yellow-200/90">Desarrollador Web.</span> 
				<span class="text-blue-300/90">De Corrientes Capital, Argentina.</span>
				<span class="text-white">Desarrollo Web Full-Stack, + especializado y familiarizado con Frontend.</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/martinezjc93/">
					<LinkedinIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Juanchobostero">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:juancruzmart93@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					juancruzmart93@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>	
				Experiencia Laboral</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="trabaja-conmigo">
			<WorkWithMe />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>	
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Profile class="size-7"/>	
				Sobre mi
			</h2>
			
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>

<style>
	@keyframes reveal {
		from {
			opacity: 0;
			transform: 0 100px;
		}
		to {
			opacity: 1;
			transform: 0 0;
		}
	}

	h2 {
		animation: reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
	}

	h1 {
		text-wrap: balance;
	}

	img.rounded-full {
		transition: transform 0.3s ease-in-out;
	}

	img.rounded-full:hover {
		transform: scale(1.5);
	}
</style>

