---
const unne = 'https://www.unne.edu.ar/'
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div 
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
        <p>
            Me llamo Juan Cruz Martínez. Comencé en la programación en la facultad y en 
            <strong><a class="text-yellow-400 text-decoration-line: none; hover:text-sky-200/90 transition" href=`${unne}` target="_blank" rel="noopener noreferrer">Julio/2023 me gradué de Lic. en Sistemas en la UNNE</a></strong>. 
            Trabajo en un gran equipo, reforzando mis habilidades y ayudando a mis compañeros.
        </p>

        <p>
            He desarrollado <strong>varios proyectos desde cero</strong>, incluyendo mi <strong>tesis</strong>. 
            Como <strong>Lic. en Sistemas & Desarrollador Web</strong>, sigo perfeccionándome en 
            <strong><em class="italic">Full-Stack & DevOps</em></strong> para ampliar mi conocimiento y potenciar mis skills.
        </p>
    </div>

    <img 
        src="/photo.webp" 
        alt=""
        class="rounded-full size-64 order-1 md:order-2"
    />
</section>


<style>
    @keyframes reveal {
		from {
			opacity: 0;
			transform: 0 100px;
		}
		to {
			opacity: 1;
			transform: 0 0;
		}
	}

	section {
		animation: reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
	}
</style>