<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div 
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
        <p>
            Me llamo Juan Cruz Martinez, pero mis amigos me dicen Juancho, JuanX, J, & más.
            Empecé en la programación realizando ejercicios con Geany en la facultad (antes de eso solamente usaba la compu para jugar, escuchar musica & chatear).
            <strong>Desde Julio/2023 soy Lic. en Sistemas. Hoy día estoy formando parte de un gran equipo de trabajo e incursionando en tecnologías como Astro (utilizada en este sitio). Me encanta JavaScript.</strong>
        </p>

        <p>
            Algunos de mis exitos incluyen haber <strong>realizado varios proyectos desde 0 partiendo de un diseño (uno de los cuales lo presenté como TESIS);</strong> asi como tambien hoy dia poder <strong>ayudar a mis compañeros de trabajo con mi experiencia y continuar aprendiendo junto a ellos.</strong>
        </p>

        <p>
            Como Lic. en Sistemas & Desarrollador Web, <strong>cuento con las herramientas y el compromiso necesarios para continuar hacia el objetivo de mejorar mis <em class="italic">habilidades como Full-Stack & DevOps</em>, y sumar cada vez + conocimiento de calidad a mi perfil.</strong>
        </p>
    </div>

    <img 
        src="/photo.webp" 
        alt=""
        class="rounded-full size-64 order-1 md:order-2"
    />
</section>