<span class="relative flex overflow-hidden rounded-full p-[1px]">
  <span class="absolute inset-0 animate-spin-slow" style="background: conic-gradient(from 90deg at 50% 50%, #60a9e0 0%, #60a9e0 50%, #60a9e0 100%);"></span>
  <div class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-sky-100-950/90 px-3 py-1 text-sm font-bold text-white backdrop-blur-3xl">
    <slot></slot>
  </div>
</span>

<style>
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin 2s linear infinite;
  }
</style>

