---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Actualidad",
        title: "SyK S.A. - Corrientes, Argentina.",
        description: "Mantenimiento de sistema web (GIS) utilizado por personal de <a href='https://dgc.corrientes.gob.ar/webapp/' target='_blank' rel='noopener noreferrer' aria-label='Visitar sitio web de Dirección General de Catastro Corrientes' class='text-sky-400 hover:text-sky-300 underline transition-colors'>D.G. CATASTRO</a>, Corrientes - Argentina. Funciones de Frontend, Backend y Base de Datos. Mejoras en controles de datos sensibles y visualización. Desarrollo y revisión de codigo antes de pasar a producción. Deploy utilizando IIS Services",
        current: true,
        technologies: [".net", "js", "postgresql", "git"]
    },
    {
        date: "Actualidad",
        title: "Barrilete Cósmico Lab (ESP) - Remoto.",
        description: "Implementacion de nuevo frontend (VUE) de plataforma <a href='https://hubcityguides.com/' target='_blank' rel='noopener noreferrer' aria-label='Visitar sitio web de Hub City Guides' class='text-sky-400 hover:text-sky-300 underline transition-colors'>Hub City Guides</a>. Correcciones y arreglos a backend (nestJS). Implementaciones de funciones en app mobile (Ionic + Vue + Android Studio). Deploys a producción utilizando Google Cloud Platform (frontend & backend).",
        current: true,
        technologies: ["node", "nestjs", "vue", "gcp", "git"]
    },
    {
        date: "2021 - 2022",
        title: "Tecsystems (CL) - Remoto.",
        description: "Mantenimiento y corrección de errores a sistema dashboard utilizado para gestionar las pruebas de enlaces de respaldo. Ministerio de Salud (MINSAL).",
        current: false,
        technologies: ["python", "html", "css", "js", "postgresql", "git"]
    },
    {
        date: "2019 - 2021",
        title: "Nissi Joyas - Corrientes, Argentina",
        description: "Mantenimiento e implementación de funcionalidades Backend & Frontend a Tienda Online de <a href='https://nissijoyas.com/' target='_blank' rel='noopener noreferrer' aria-label='Visitar sitio web de Nissi Joyas' class='text-sky-400 hover:text-sky-300 underline transition-colors'>NISSI Joyas</a> . Mejoras en visualización de datos al usuario (descuentos, promociones, etc). Tareas de backend (recupero de contraseña, aplicar descuentos, etc).",
        current: false,
        technologies: ["php", "mysql", "html", "css", "js", "git"]
    },
    {
        date: "2019 - 2021",
        title: "Municipalidad Ciudad de Corrientes - Argentina",
        description: "Mantenimiento plataforma SIU-TOBA. Generación y Ejecución de scripts de BD.",
        current: false,
        technologies: ["php", "postgresql", "html", "css", "js", "git", "python"]
    },
    {
        date: "Actualidad",
        title: "Softcre - Corrientes, Argentina",
        description: "Mantenimiento e implementación de funcionalidades/actualizaciones a sitios de clientes.",
        current: true,
        technologies: ["php", "html", "css", "js", "mysql", "git"]
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">            
                <ExperienceItem {...experience}/>
            </li>
        ))
    }          
</ol>

<style>
    @keyframes reveal {
		from {
			opacity: 0;
			transform: 0 100px;
		}
		to {
			opacity: 1;
			transform: 0 0;
		}
	}

	li {
		animation: reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
	}
</style>

