---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Actualidad",
        title: "SyK S.A. - Corrientes, Argentina.",
        description: "Mantenimiento de sistema web (GIS) utilizado por personal de D.G. CATASTRO, Corrientes - Argentina",
        current: true
    },
    {
        date: "2021 - 2022",
        title: "Tecsystems (CL) - Remoto. - Chile.",
        description: "Mantenimiento y correcci贸n de errores a sistema dashboard utilizado para gestionar las pruebas de enlaces de respaldo. Ministerio de Salud (MINSAL).",
        current: false
    },
    {
        date: "2019 - 2021",
        title: "Municipalidad Ciudad de Corrientes - Argentina",
        description: "Mantenimiento plataforma SIU-TOBA. Generaci贸n y Ejecuci贸n de scripts de BD.",
        current: false
    },
    {
        date: "Actualidad",
        title: "Softcre - Corrientes, Argentina",
        description: "Mantenimiento e implementaci贸n de funcionalidades/actualizaciones a sitios de clientes.",
        current: true
    },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">            
                <ExperienceItem {...experience}/>
            </li>
        ))
    }          
</ol>

<style>
    @keyframes reveal {
		from {
			opacity: 0;
			transform: 0 100px;
		}
		to {
			opacity: 1;
			transform: 0 0;
		}
	}

	li {
		animation: reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
	}
</style>

