---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Actualmente",
        title: "Desarrollador Web Full-Stack - SyK S.A. - Corrientes, Argentina.",
        description: "Mantenimiento de sistema web (GIS) utilizado por personal de D.G. CATASTRO, Corrientes - Argentina",
        current: true
    },
    {
        date: "2021 - 2022",
        title: "Desarrollador Web Full-Stack - Tecsystems (CL) - Remoto. - Chile.",
        description: "Mantenimiento y correcci贸n de errores a sistema dashboard utilizado para gestionar las pruebas de enlaces de respaldo. Ministerio de Salud (MINSAL).",
        current: false
    },
    {
        date: "2019 - 2021",
        title: "Desarrollador - Municipalidad Ciudad de Corrientes - Argentina",
        description: "Mantenimiento plataforma SIU-TOBA. Generaci贸n y Ejecuci贸n de scripts de BD.",
        current: false
    },
    {
        date: "2019 - Actualidad",
        title: "Desarrollador Web Full-Stack - Softcre - Corrientes, Argentina",
        description: "Mantenimiento e implementaci贸n de funcionalidades/actualizaciones a sitios de clientes.",
        current: true
    },
]
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">            
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>

