---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Actualmente",
        title: "Desarrollador WEB Full-Stack - SyK S.A. - Corrientes, Argentina.",
        description: "Mantenimiento de sistema web utilizado por personal de D.G. CATASTRO, Corrientes - Argentina",
    },
    {
        date: "2021 - 2022",
        title: "Desarrollador WEB Full-Stack - Tecsystems (CL) - Remoto. - Chile.",
        description: "Mantenimiento y corrección de errores a sistema utilizado para gestionar las pruebas de enlaces de respaldo. Ministerio de Salud (MINSAL).",
    },
    {
        date: "2019 - 2021",
        title: "Desarrollador - Municipalidad Ciudad de Corrientes - Argentina",
        description: "Mantenimiento plataforma SIU-TOBA. Generación y Ejecución de scripts de BD.",
    },
]
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">            
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>

