<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-18">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm sm:text-center text-yellow-200/90">
        © {new Date().getFullYear()} - Desarrollado por Juan Cruz Martinez & basado en Porfolio de 
        <a href="https://porfolio.dev/" target="_blank" rel="noopener noreferrer" 
           class="text-sky-500 hover:text-sky-200 transition">@midudev</a>. 
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0 gap-4 md:gap-6">
          <li>
              <a href="#sobre-mi" class="nav-link hover:opacity-70" data-section="sobre-mi">Sobre mi</a>
          </li>
          <li>
              <a href="https://cafecito.app/jotadev" target="_blank" rel="noopener noreferrer"
                 class="flex items-center gap-2 px-4 py-2 rounded-full border border-yellow-200/40 text-yellow-200/90 hover:bg-yellow-200/10 transition text-sm font-medium">
                  ☕ Invitame un café
              </a>
          </li>
      </ul>
    </div>
</footer>