<style>
  /* Initial opacity for body content */
  body {
    transition: opacity 0.3s linear;
  }
  /* Blurred background */
  .blur-background {
    pointer-events: none;
    opacity: .5 !important; /* Adjust the opacity as needed */
  }

  .test {
    width: fit-content;
    height: auto;
    background-color: #025709;
    color: white;
  }

</style>

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
    text-md
  `}
>
  <nav
    class={`
      border border-black rounded-s
      px-3 py-1
      flex flex-row items-center
      bg-neutral-950 dark:bg-black/50
      backdrop-blur-2xl
    `}
  >
    <a
      class="hover:bg-white/10 rounded-s px-3 transition"
      href="/#experiencia">Experiencia</a
    >
    <a class="hover:bg-white/10 rounded-s px-3 transition" href="/#proyectos"
      >Proyectos</a
    >
    <a class="hover:bg-white/10 rounded-s px-3 transition" href="/#sobre-mi"
      >Bio</a
    >
    <a 
      class="hover:bg-white/10 rounded-s px-3 transition" 
      href="/#contacto"
      id="contacto-link"
      >Contacto</a
    >
  </nav>
</header>

<script>
  import Swal from "sweetalert2";
  
  var contactoLink = document.getElementById("contacto-link");
  
  if (contactoLink) {
    contactoLink.addEventListener("click", function() {
      const phone = '+543794065380'
      const instagram = 'https://www.instagram.com/_juancruzmartinez/'
      const facebook = 'https://www.facebook.com/juaanchhoo/'

      return Swal.fire({
        title: "Contactame",
        color: "#fff",
        showConfirmButton: false,
        showClass: {
        popup: `
          animate__animated
          animate__fadeInUp
          animate__faster
        `
        },
        hideClass: {
          popup: `
            animate__animated
            animate__fadeOutDown
            animate__faster
          `
        },
        showCloseButton: true,
        background: "rgba(0, 0, 0, 0.7)",
        html: `
            <div style="height: 35vh; padding: 0.5rem; display: flex; flex-direction: column; justify-content: space-around; align-items: center; border: 1px solid white; border-radius: 0.5rem;">
              <a 
                aria-label="Chatear en WhatsApp"
                style="width: 90%;
                  height: auto;
                  background-color: #25D366;
                  padding: 0.5rem;
                  border-radius: 0.5rem;
                  color: white;
                  text-align: center;
                  text-decoration: none;
                  font-weight: bold;" 
                href="https://wa.me/${phone}"
                target="_blank"
                rel="noopener noreferrer"
                >Chatear en WhatsApp
              </a>
              <a 
                aria-label="Ir a Instagram"
                style="width: 90%;
                  height: auto;
                  background-color: #C13584;
                  padding: 0.5rem;
                  border-radius: 0.5rem;
                  color: white;
                  text-align: center;
                  text-decoration: none;
                  font-weight: bold;
                  margin-top: 0.5rem;"
                  href="${instagram}"
                  target="_blank"
                  rel="noopener noreferrer">Instagram
              </a>
              <a 
                aria-label="Ir a Facebook"
                style="width: 90%;
                  height: auto;
                  background-color: #1877F2;
                  padding: 0.5rem;
                  border-radius: 0.5rem;
                  color: white;
                  text-align: center;
                  text-decoration: none;
                  font-weight: bold;
                  margin-top: 0.5rem;" 
                  href="${facebook}"
                  target="_blank"
                  rel="noopener noreferrer">Facebook
              </a>
            </div>
        `,
      });
  });
}
</script>