<style>
  /* Initial opacity for body content */
  body {
    transition: opacity 0.3s linear;
  }
  /* Blurred background */
  .blur-background {
    pointer-events: none;
    opacity: 1; /* Adjust the opacity as needed */
  }

  .test {
    width: fit-content;
    height: auto;
    background-color: #025709;
    color: white;
  }

  .swal2-html-container {
    height: 20vh;
  }
</style>

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
    text-md
  `}
>
  <nav
    class={`
      border border-black rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-neutral-950 dark:bg-black/50
      backdrop-blur-2xl
    `}
  >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="/#experiencia">Experiencia</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/#proyectos"
      >Proyectos</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/#sobre-mi"
      >Bio</a
    >
    <a 
      class="hover:bg-white/10 rounded-full px-3 transition" 
      href="/#contacto"
      id="contacto-link"
      >Contacto</a
    >
  </nav>
</header>

<script>
  import Swal from "sweetalert2";
  var contactoLink = document.getElementById("contacto-link");
  
  if (contactoLink) {
    contactoLink.addEventListener("click", function() {

      const phone = '+543794065380'

      console.log(phone)

      return Swal.fire({
        title: "Contactame",
        color: "#fff",
        showConfirmButton: false,
        showClass: {
        popup: `
          animate__animated
          animate__fadeInUp
          animate__faster
        `
        },
        hideClass: {
          popup: `
            animate__animated
            animate__fadeOutDown
            animate__faster
          `
        },
        showCloseButton: true,
        background: "rgba(0, 0, 0, 0.9)",
        html: `
            <div>
              <a 
                aria-label="Mensaje"
                style="width: fit-content;
                  height: auto;
                  background-color: #025709;
                  padding: 0.2rem;
                  border-radius: 0.5rem;
                  color: white;" 
                href="https://wa.me/${phone}">Chatear en WhatsApp
              <a />
            </div>
        `,
      });
  });
}
</script>