<a 
    {...Astro.props}
    class="border border-white/20 flex items-center gap-x-2 py-1 px-2 md:py-2 md:px-6 text-xs md:text-sm bg-white/5 hover:scale-105 hover:bg-white/10 hover:border-sky-400/50 hover:shadow-lg hover:shadow-sky-500/30 transition-all duration-300 rounded-full h-[2rem] md:h-[2.5rem] text-center whitespace-nowrap backdrop-blur-sm"
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>


