<a 
    {...Astro.props}
    class="border border-white/10 flex items-center gap-x-2 py-1 px-2 md:py-2 md:px-6 text-xs md:text-sm bg-white/5 hover:scale-110 hover:bg-white/10 transition rounded-sm h-[2rem] md:h-[2.5rem] text-center whitespace-nowrap"
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>


