---
import SocialPill from "./SocialPill.astro";
import Mail from "./icons/Mail.astro";
---

<section class="flex flex-row md:flex-row gap-8 justify-start m-1">
    <div class="p-1 flex flex-row gap-2">
        <h1 class="text-2xl"><span class="text-blue-400"><b>Tenes un Proyecto? </b></span>Trabajemos juntos.</h1>
        &nbsp;&nbsp;
        <SocialPill href="mailto:juancruzmart93@gmail.com">
            <Mail class="size-4 md:size-6"/>
            	Contactame
        </SocialPill>
    </div>
</section>

<style>
    @keyframes reveal {
		from {
			opacity: 0;
			transform: 0 100px;
		}
		to {
			opacity: 1;
			transform: 0 0;
		}
	}

	section {
		animation: reveal both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
	}
</style>