---
import SocialPill from "./SocialPill.astro";
import Mail from "./icons/Mail.astro";
---

<section class="flex flex-row md:flex-row gap-8 justify-start m-1">
    <div class="p-1 flex flex-row gap-2">
        <h1 class="text-2xl"><span class="text-blue-400"><b>Tenes un Proyecto? </b></span>Trabajemos juntos.</h1>
        &nbsp;&nbsp;
        <SocialPill href="mailto:juancruzmart93@gmail.com">
            <Mail class="size-4 md:size-6"/>
            Correo
        </SocialPill>
    </div>
</section>