---
// Supports weights 100-900
import '@fontsource-variable/onest';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Porfolio de Juan Cruz Martinez desarrollado con ASTRO." />
		<meta name="viewport" content="width=device-width" />
		<link class="rounded-full" rel="icon" type="image/svg+xml" href="/photo.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-950">
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		</div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
		padding: 0 !important;
	}

	body {
		background: #050505;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
		overflow-x: hidden;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	
</style>
